			*				{}
			main			{ left:50px;}
			.slider			{position:absolute;}		
			.banner			{position:relative; width:1800px; height:600px;}
			.main			{position:absolute; top:800px;}
			.textpos		{position:absolute; top:550px; left:600px; color:white;}
			.heading 		{font-size:32px;} 
			.subtitle		{font-size:20px; left:25px;}
			.title 			{left:400px; top:20px; }
			.titpos			{left:400px; left:100px; }
			.bannerpos		{position:absolute;top:100px;left:140px;}
			.row1			{position:relative; top:30px; left:20px;}
			.row2			{position:relative; top:310px; left:20px;}
			.row3			{position:relative; top:610px; left:20px;}
			.row4			{position:absolute; top:890px; left:20px;}	
			.row5			{position:absolute; top:1140px; left:20px;}
			.col1			{position:absolute; top:0px; left:0px;}
			.col2			{position:absolute; top:0px; left:420px;}
			.col3			{position:absolute; top:0px; left:840px;}	
			.thnb			{position:absolute; height:220px; width:400px;}
			.caption		{position:absolute; width:400px; height:50px; top:221px; background-color:white;}
			.text			{position:absolute; top:20px; left:10px; }
			.feed			{position:absolute; }
			.video			{position:absolute; }
			.chat			{position:absolute; }
			.logo			{position:relative; width:64px; height:32px; top:2px; left:10px;}
			a:link 			{ font-weight:bold; color:blue; text-decoration:none; }
			a:visited 		{ font-weight:bold; color:silver; text-decoration:none; }
			a:focus 		{ font-weight:bold; color:red; text-decoration:underline; }
			a:hover 		{ font-weight:bold; color:green; text-decoration:none; }
			a:active		{font-weight:bold; color:lime; text-decoration:none; }