			header,footer	{background-color:#726C6C; position:absolute; }
			body			{position:relative; }
			.cornerpos		{ position:absolute; top:150px; left:20px;}
			.user_row_pos1	{ position:absolute; left:20px; top:20px;}       
			.user_row_pos2	{ position:absolute; left:276px; top:20px;} 
			.user_row_pos3  { position:absolute; left:532px; top:20px;}  
			.user_row_pos4	{ position:absolute; left:788px; top:20px;}     
			.logo_border	{ position:absolute; width:256px; height:128px; background-color:#B3B1B1;}
			.linkborder 	{ position:absolute;height:64px; width:256px; background-color:#F4EFEF;top:128px;}
			.text_pos		{ position:absolute;left:64px; top:100px;}
			.user_logo		{ position:absolute;top:32px; left:64px}
			.logo			{ position:absolute; top:10px; left:4px;}
			.footercenter	{ position:absolute; top:600px; left:520px; }
			.pos1			{  position:absolute; top:200px; left:500px; }
			.pos2			{  position:absolute; top:400px; left:500px; }
			.text-left 		{ text-align: left;}
			.text-right 	{text-align: right;}
			.text-center 	{text-align: center;}
			.chart			{top:250px; left:200px; background-color:#d2d5da;position:absolute;}
			.lft-hside		{top:0px; left:10px;position:relative;}
			.rgt-hside		{top:0px; left:440px;position:relative;}
			.rowpos1		{top:0px;left:0px; position:relative;}
			.rowpos2		{top:220px;left:0px; position:relative;}
			.rowpos3		{top:440px;left:0px; position:relative;}
			.rowpos4		{top:660px;left:0px; position:relative;}
			.rowpos5		{top:880px;left:0px; position:relative;}
			.rowpos6		{top:1100px;left:0px;position:relative;}
			.area			{background-color:#eaeef5; height:200px; width:410px; position:absolute;}
			.chanelimmagepos{top:10px; left:10px; width:256px; height:456px; position:relative;}
			.chn_name_pos	{top:64px;left:200px; width:200px; position:absolute; font-size:24px;}
			a:link 			{ font-weight:bold; color:blue; text-decoration:none; }
			a:visited 		{ font-weight:bold; color:silver; text-decoration:none; }
			a:focus 		{ font-weight:bold; color:red; text-decoration:underline; }
			a:hover 		{ font-weight:bold; color:green; text-decoration:none; }
			a:active		{font-weight:bold; color:lime; text-decoration:none; }